* {
  box-sizing: border-box;
}

body {
  background-color: #f4e8f3;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-family: ;
}

main {
  background-color: #ffffff;
  text-align: center;
}

ul {
    display: block;
    list-style-type: disc;
    padding: 1em 0;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li {
  margin-left: 1em;
  padding: 5px 0;
}

a {
  text-decoration: none;
  color: #70336a
}

li.create-new-link {
  background-color: #70336a;
  border-radius: 10px;
  width: 150px;
  padding: 5px 0;
}

li.create-new-link a {
  color: white;
}

.nav {
    padding-left: 0;
    list-style: none;
}

.navbar {
    border-radius: 4px;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    height: 4em;
}


.navbar-nav {
    text-align: center;
    float: left;
    margin: 0;
}

.nav>li {
    position: relative;
    display: block;
}

.navbar-nav>li {
    float: left;
}
